* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#control-panel > * {
    display: block;
    margin: 1em 0;
}

div.wrapper {
    padding: 16px 16px 32px 16px;
}

#result {
    border: 1px solid black;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    margin: 16px 0;
}

#results-container {
    display: none;
}

#text-text-box {
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    height: 5em;
}

h1 {
    background-color: black;
    color: white;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    padding: 8px;
    margin: 0;
    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    div.wrapper {
        width: 768px;
        margin: auto;
    }

    div.wrapper > div {
        display: block;
    }
}